# Enable rewrite engine
RewriteEngine On
AddDefaultCharset UTF-8

# ---------------------------------------------------------
# 1. Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

# ---------------------------------------------------------
# 2. Force HTTPS and www
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# ---------------------------------------------------------
# 3. Redirect specific old URL to .html
RewriteRule ^bangalore-top-class-100-genuine-escort-service-cash-payment/?$ /bangalore-escort.html  [R=301,L]


# ---------------------------------------------------------
# 4. Force index.html as homepage
DirectoryIndex index.html

# ---------------------------------------------------------
# 5. Auto-redirect any /slug/ to /slug.html if file exists
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^([^/]+)/$ /$1.html [R=301,L]

# Cache Static Assets
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
  ExpiresByType image/webp "access plus 6 months"
  ExpiresByType image/jpeg "access plus 6 months"
</IfModule>
